{% extends "user/profile/user_profile_base.html" %}

{% block profil_icerik %}
    <div class="col-lg-8 text-center" style="margin-right: auto;margin-left: auto">
        <h3 class="card-header">Şifre Değiştirme Alanı</h3>
    </div>
    <div class="row">
        <div class="col-lg-10 text-center" style="margin-right:auto;margin-left: auto">
            <div style="margin-top:20px">
                <form method="post" action="{% url "password_change" %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for i in form %}
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class=" col-lg-8" style="margin-right: auto;margin-left: auto">
                                    <label class="control-label" for="{{ i.slug_for_label }}">
                                        <b>{{ i.label }}</b>
                                    </label>
                                    {{ i }}
                                    {% if i.errors %}
                                        {% for error in i.errors %}
                                            <span class="text-danger">
                                            <b>
                                                {{ error }}
                                            </b>
                                            </span>
                                        {% endfor %}
                                    {% else %}
                                        {% if i.help_text %}
                                            {{ i.help_text }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <input type="submit" value="DEĞİŞTİR" class="btn btn-success btn-sm"><br><br>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}