{% extends "user/profile/user_profile_base.html" %}
{% load static %}
{% block ust_icerik %}
        <style rel="stylesheet" type="text/css">
        .modal-dialog{
            overflow-y: initial !important
        }
        .modal-body {
            height: 300px;
            overflow-y: auto;
        }
    </style>
    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $("#user-following").on("click", ".follow_button", function () {
                var $this = $(this);
                var $url = $this.attr("url")
                var $username = $this.attr("username")
                var $follow_type = $this.attr('follow_type');
                var $modal = $("#profile_following_modal");
                $modal.attr("follow_type", $follow_type)
                if ($follow_type === 'followeds')
                    $modal.find('.modal-title').html('Takip Edilenler');
                else if ($follow_type === 'followers') {
                    $modal.find('.modal-title').html('Takipçiler');
                }
                $.ajax({
                    url: $url,
                    method: "GET",
                    dataType: "json",
                    data: {"username": $username},
                    success: function (data) {
                        if (data.is_valid) {
                            $modal.find("#follow_paginate").closest("div").remove()
                            $modal.find(".modal-body #follow_list").html("").prepend(data.html).after(data.html_paginate)
                            $modal.modal("show")
                        }
                    }
                })
            });
            $("#following_button").click(function () {
                var x = $(this);
                var url = x.attr("url");
                var follower = x.attr("follower");
                var followed = x.attr("followed");

                var data = {follower_username: follower, followed_username: followed}

                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    data: data,
                    success: function (data) {
                        if (data.is_valid) {
                            x.html(data.msg)
                            $("#user-following").html(data.html)
                        }
                    }
                })
            })
            $("#profile_following_modal").on("click", "#follow_list .follow .follow_button", function (e) {
                var $this = $(this);
                var $modal_body = $this.closest(".modal-body");
                var $modal = $($this.closest(".modal"));
                var $follow_type = $modal.attr("follow_type");
                var $owner = $modal.attr("owner");
                var $span = $($this.closest(".follow").find("span"));
                var followed = $span.attr("followed");
                var follower = $span.attr("follower");
                var url = "{% url "modal_following" %}";
                var data = {
                    owner: $owner,
                    follow_type: $follow_type,
                    follower_username: follower,
                    followed_username: followed
                }
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "json",
                    data: data,
                    success: function (data) {

                        if (data.owner) {
                            if (data.follow_type === "followeds") {
                                var $follow_list = $modal_body.find("#follow_list")
                                $follow_list.html(data.html);
                                $modal_body.find("#follow_paginate").closest(".row").remove();
                                $follow_list.after(data.html_paginate)
                            } else {
                                if (data.takip_durum) {
                                    $this.removeClass("btn-success")
                                    $this.addClass("btn-danger")
                                } else {
                                    $this.removeClass("btn-danger")
                                    $this.addClass("btn-success")
                                }
                                $this.html(data.msg);
                            }
                            $("#user-following").html(data.html_takip_render)
                        } else {
                            if (data.takip_durum) {
                                $this.removeClass("btn-success")
                                $this.addClass("btn-danger")
                            } else {
                                $this.removeClass("btn-danger")
                                $this.addClass("btn-success")
                            }
                            $this.html(data.msg);
                        }
                    }
                })
            }).on("click", "#follow_paginate", function (e) {
                e.preventDefault();
                var $this = $(this);
                var $follow_list = $this.closest(".modal").find("#follow_list");
                var $follow_paginate = $this.closest(".modal").find("#follow_paginate");
                var url = $this.attr("href");
                $.ajax({
                    url: url,
                    dataType: "json",
                    method: "GET",
                    beforeSend:function(){
                        var $img = $("<img class='img-responsive' src='{% static "img/ajax-loader.gif" %}'/>")
                        $follow_paginate.html($img)
                    },
                    success: function (data) {
                        if (data.is_valid) {
                            $follow_list.append(data.html)
                            $follow_paginate.remove();
                            $follow_list.after(data.html_paginate)
                        }

                    }
                })

            })
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha256-ZsWP0vT+akWmvEMkNYgZrPHKU9Ke8nYBPC3dqONp1mY=" crossorigin="anonymous"></script>
    <link href="{% static "bootstrap/css/bts-datetime.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}" rel="script"></script>
{% endblock %}
{% block profil_icerik %}
    <div class="col-lg-8 text-center" style="margin-right: auto;margin-left: auto">
        <h3 class="card-header">Profil Güncelleme Alanı</h3>
    </div>
    <div class="row">
        <div class="col-lg-10 text-center" style="margin-right:auto;margin-left: auto">
            <div style="margin-top:20px">
                <form method="post" action="{% url "user-settings" %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for i in form %}
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class=" col-lg-8" style="margin-right: auto;margin-left: auto">
                                    <label class="control-label" for="{{ i.slug_for_label }}">
                                        <b>{{ i.label }}</b>
                                    </label>
                                    {{ i }}
                                    {% if i.errors %}
                                        {% for error in i.errors %}
                                            <span class="text-danger">
                                            <b>
                                                {{ error }}
                                            </b>
                                            </span>
                                        {% endfor %}
                                    {% else %}
                                        {% if i.help_text %}
                                            {{ i.help_text }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <input type="submit" value="GÜNCELLE" class="btn btn-success btn-sm"><br><br>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}

