<ul class="nav nav-tabs nav-fill nav-justified"
    style="margin-bottom: 30px;background-color: #7abaff;border-color: gray">
    {% include "user/profile/include/common_navbar.html" %}
    <li class="nav-item">
        <a class="nav-link {% if page == 'settings' %} active {% endif %}" href="{% url "user-settings" %}" style="color:darkblue">Profil Güncelleme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == 'password_change' %} active {% endif %}" href="{% url "password_change" %}" style="color:darkblue">Şifre Değiştir</a>
    </li>
</ul>