{% extends "base.html" %}
{% load static %}

{% block title %}
    Hakkımızda{% endblock %}

{% block icerik %}
    <style>
    </style>

    <div style="margin-top : 120px;background-color: #0ebb7f" class="jumbotron text-center">
        <p style="margin-bottom: 8px"><b>onecki.com</b></p>
        Aradığınız bilgiyi bulmanıza yardım eder.<br>Paylaşmak
        istediğiniz içerikler için ortam sunar.
        <h5 style="margin-top: 40px">SÜRPRİZLERİMİZ İÇİN TAKİPTE KALIN</h5>
        <p style="margin-top: 40px"><a style="color:darkblue;" href="https://www.instagram.com/drcan94.tus/">Instagram Hesabı</a></p>
    </div>

{% endblock %}
